<a href="https://colab.research.google.com/github/raif410/BezLim/blob/main/%22gallery_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Библиотека для работы с данными
import pandas as pd

In [ ]:
df = pd.read_parquet('/datalab/month=2020-11.parquet')

In [ ]:
df.head()

     OidColumn AddedOnDate  ...    AddedOnTick    FrameOid
0  23984383430  2020-11-01  ...  1604203747000  5080329804
1  23984383431  2020-11-01  ...  1604203752000  5080329786
2  23984383432  2020-11-01  ...  1604203757000  5080327026
3  23984383433  2020-11-01  ...  1604203762000  5080327007
4  23984383434  2020-11-01  ...  1604203769000  5080326989

[5 rows x 8 columns]

In [ ]:
#количество строк в датафрейме или так
df.shape

(8032235, 8)

## Основные сведения о датафрейме

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8032235 entries, 0 to 8032234
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   OidColumn    int64
 1   AddedOnDate  datetime64[ns]
 2   Mac          object
 3   RadarId      object
 4   Face         object
 5   AdmTypeBit   int32
 6   AddedOnTick  int64
 7   FrameOid     object
dtypes: datetime64[ns](1), int32(1), int64(2), object(4)
memory usage: 459.6+ MB

In [ ]:
# Статистика
df.describe()

          OidColumn    AdmTypeBit   AddedOnTick
count  8.032235e+06  8.032235e+06  8.032235e+06
mean   2.502347e+10  7.129056e-01  1.605462e+12
std    6.447664e+08  4.524061e-01  7.445147e+08
min    2.397833e+10  0.000000e+00  1.604189e+12
25%    2.446632e+10  0.000000e+00  1.604815e+12
50%    2.497027e+10  1.000000e+00  1.605444e+12
75%    2.557836e+10  1.000000e+00  1.606120e+12
max    2.620730e+10  1.000000e+00  1.606781e+12

In [ ]:
# Список колонок
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
## Метод unique позволяет получить список значений (уникальных) для столбца
## примените его к Embarked

## Профильтруем

In [ ]:
df_filtered.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Fare', 'Age_rep',
       'Embarked_rep', 'is_male'],
      dtype='object')

In [ ]:
df_filtered = df[['FrameOid', 'Mac', 'AdmTypeBit', 'AddedOnTick', 'OTS']]

In [ ]:
df_filtered.head()

   PassengerId  Survived  Pclass     Fare  Age_rep Embarked_rep  is_male
0            1         0       3   7.2500     22.0            S     True
1            2         1       1  71.2833     38.0            C    False
2            3         1       3   7.9250     26.0            S    False
3            4         1       1  53.1000     35.0            S    False
4            5         0       3   8.0500     35.0            S     True

## Осталось заменить Embarked_rep на цифры. Используем принцип one_hot

In [ ]:
df_filtered = pd.get_dummies(df_filtered, ['Embarked_rep'])

In [ ]:
df_filtered.head()

   PassengerId  Survived  ...  Embarked_rep_Q  Embarked_rep_S
0            1         0  ...               0               1
1            2         1  ...               0               0
2            3         1  ...               0               1
3            4         1  ...               0               1
4            5         0  ...               0               1

[5 rows x 9 columns]

# Переходим к машинному обучению :-)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
#from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.svm import  SVC

In [ ]:
df_filtered.columns

In [ ]:
X, y = df[['ID','crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat']], df['medv']

In [ ]:
# Разделяем данные на данные для обучения и проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.head()

      ID      crim    zn  indus  chas  ...  rad  tax  ptratio   black  lstat
163  237   0.52058   0.0   6.20     1  ...    8  307     17.4  388.45   9.54
269  416  18.08460   0.0  18.10     0  ...   24  666     20.2   27.25  29.05
230  348   0.01870  85.0   4.15     0  ...    4  351     17.9  392.43   6.36
29    48   0.22927   0.0   6.91     0  ...    3  233     17.9  392.74  18.80
211  317   0.31827   0.0   9.90     0  ...    4  304     18.4  390.70  18.33

[5 rows x 14 columns]

In [ ]:
y_train.head()

163    25.1
269     7.2
230    23.1
29     16.6
211    17.8
Name: medv, dtype: float64

In [ ]:
# Приводим данные к одному масштабу
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

array([[-0.84700759, -0.30238877, -0.47795051, ...,  1.24205523,
         0.44376794, -0.05529625],
       [ 1.16027437,  0.86946713, -0.47795051, ...,  0.78760311,
        -3.22246006,  1.02290424],
       [ 1.49482137,  0.2941831 , -0.47795051, ...,  0.78760311,
         0.39927178, -0.71121364],
       ...,
       [-0.38533274, -0.45765568,  3.67321269, ..., -0.66664368,
         0.2973837 , -1.18864023],
       [-0.10431326, -0.44640928,  0.83294313, ..., -0.84842452,
         0.16319816, -0.20621529],
       [-0.62620657, -0.16373513, -0.47795051, ..., -1.71188355,
         0.42297208, -0.14526722]])

In [ ]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [ ]:
X_train.head()

         ID      crim        zn  ...   ptratio     black     lstat
0 -0.847008 -0.302389 -0.477951  ...  1.242055  0.443768 -0.055296
1  1.160274  0.869467 -0.477951  ...  0.787603 -3.222460  1.022904
2  1.494821  0.294183 -0.477951  ...  0.787603  0.399272 -0.711214
3  1.006383  0.518227 -0.477951  ...  0.787603 -0.511912  1.996622
4 -1.636538 -0.376798 -0.477951  ...  1.151165  0.443768 -0.635754

[5 rows x 14 columns]

## Обучаем наши модели

In [ ]:
linear = LinearRegression()

In [ ]:
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Оценим качество

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [ ]:
mean_squared_error(y_test, linear.predict(X_test))

33.50652996103344

In [ ]:
r2_score(y_test, linear.predict(X_test))

0.6478023934249642

In [ ]:
mean_absolute_error(y_test, linear.predict(X_test))

4.03864498200475

In [ ]:
## Посмотрим на результат

In [ ]:
linear.predict(X_test)

array([18.00588237, 19.98319277, 23.2978199 ,  4.55880581, 13.88172126,
       20.56897514, 34.16937594, 26.61503476, 20.89547447, 19.22677036,
       20.01708185, 21.67723318, 23.38666544, 16.90564373, 21.90352388,
       24.63950732, 16.48776624, -6.52665643, 32.25769902, 20.50202726,
       14.15343847, 26.94896155, 22.01293779, 19.84741092, 31.05730797,
       34.59319547, 15.06677822, 30.8650271 , 21.63182595, 26.73589999,
       30.47994481, 20.65275661, 27.80669729, 13.93840134, 11.22573474,
       23.85962129, 34.55516204, 19.69048339, 29.72201358, 25.35185053,
       22.99447432, 30.31510517, 29.83260386, 21.18539102, 27.9734723 ,
       36.60689838, 12.45467298, 24.63149026, 35.91323885, 21.46324249,
       16.87946063, 25.28324987, 40.86076514, 27.8436082 , 31.01703721,
       15.93123428,  2.74525955,  5.86429524,  5.25851244, 25.41724073,
       27.49888725, 14.42852424, 17.27189765, 13.28165033, 15.23278568,
       23.89747895, 26.93479993])

In [ ]:
linear.predict(X_train)

array([30.53166102,  8.5264118 , 24.0225812 , 17.14201974, 16.30293033,
       19.46361758, 16.34085558, 23.00425422, 12.98534468, 30.18389798,
       43.83431475, 17.3177288 , 21.90558343, 23.05274034, 19.6985363 ,
       33.4242603 , 38.68879962, 36.28226605, 12.78543473, 24.60107591,
       38.9248541 , 23.52029933, 28.87455286, 33.53589385, 30.8583185 ,
       18.88115313, 31.39193513, 25.69310781, 24.83896453, 25.55944929,
       32.41722787, 23.2319438 , 30.00059498, 19.6573632 , 40.84165048,
       20.98750197, 26.30464105, 25.29541555, 13.07536621, 15.64791135,
       28.46786953, -1.33064407, 19.16298541, 22.0543234 , 23.7029502 ,
       35.9943615 , 20.61481828, 27.82845038, 13.87916018, 16.40030387,
       23.31427299, 17.75379075, 26.7476894 ,  5.66521108, 30.58265533,
       24.63357051, 19.92266348, 14.17639859, 20.66486716,  2.26165335,
       24.11149326, 21.40985882, 42.15930486, 19.42514441, 20.09910091,
       24.74035325, 14.39220354, 24.97714444, 33.91087001, 31.18759077,
       23.74950666, 23.49886126, 16.92758872, 26.08322058, 20.59659794,
       17.16453126, 20.45236283, 17.8496368 , 19.99843825, 20.98949405,
       20.62287176, 14.10927235, 23.5356855 , 18.53043953, 19.8690093 ,
       13.9159882 , 27.2327211 , 17.79219566, 10.57933048, 19.52301679,
        9.38062971, 32.25573714, 22.54031313, 29.56979705, 23.93554396,
       30.95142609, 29.83035057, 25.91164066, 12.80359342, 29.23845063,
       24.18363054, 13.41090379, 25.15748257, 28.64365589,  8.66344404,
       26.75559381, 21.03508933, 30.61995809, 18.37946122, 32.44673394,
       15.96837487, 22.91720014, 24.11336344, 20.47205472, 30.47836512,
       40.48955112, 18.00650159, 26.93582197, 18.5074882 , 16.07253271,
       26.73001778, 26.56213136, 27.00982017, 13.94185624, 32.2342732 ,
       10.70571763, 11.50917128, 15.05685185, 22.72241944, 19.98735136,
       21.18524566, 21.3566658 , 11.57367787, 28.17294709, 17.76826694,
       29.50173269, 33.93338509, 11.19778569, 25.24737997, 19.32175514,
       16.81919497,  8.04421047, 18.5912169 , 17.91941838, 16.70645734,
       21.56939327, 30.83567868, 19.764475  , 29.74358981, 15.41807509,
       17.54498064, 14.28105076, 22.62664301, 20.71688582, 18.82457679,
       20.7338963 , 20.90905965,  4.48670007, 14.55253329, 25.91237666,
       23.45486826, 35.05943269,  7.81426825, 27.38908219, 24.15901302,
       16.19278506, 28.59872573, 23.59401973, 22.37404145, 10.65358175,
       32.77279847, 21.55395162, 11.89351497, 18.62979046, 25.02601451,
       25.57078319, 22.79326857, 20.62360376, 18.15681721, 11.55411797,
       22.80893292, 39.03964179,  9.17420545, 32.55696411, 29.60800294,
       33.62206539, 32.48065305, 26.11293842, 23.79647619, 18.37440473,
       15.92601346, 24.88902095, 24.24300712, 14.37435914, 18.0420476 ,
       25.14909325, 32.43421354, 38.24275627, 20.12876667, 29.7024401 ,
       18.39090764, 17.83192582, 22.27474183, 20.29066122, 27.12251569,
       29.34512972, 12.73321394, 21.51846039, 24.56360047, 17.79708195,
       20.57754311, 13.11216691, 21.55400552, 11.82987709, 23.88461273,
       16.48727903, 17.43147336, 32.61943493, 27.55417902, 20.61623638,
       27.89732012, 15.64978899, 38.96375674, 27.77034965, 37.83083964,
       34.32134259, 28.84369703, 26.08169655, 44.65561414, 19.38226978,
       19.88636117, 21.89110647, 24.93793086, 24.58315216, 40.6246299 ,
       24.12080011, 24.67268034, 21.55734355,  9.10870619, 24.71539486,
       37.45791438, 30.94134301, 25.20537831, 25.65341201, 19.63351457,
       18.39375156, 21.13452518,  1.93336357, 23.79558971, 38.97794858,
       16.55814137, 22.99813637, 23.03392121, 27.38021711, 26.37047403,
        5.88662464, 16.49145365, 34.38743842, 22.37103726, 26.38174131,
       12.8994003 , 22.82112855, 22.98355372, 15.99219248, 21.39088652,
       25.6694041 ])

In [ ]:
df['medv']

0      24.0
1      21.6
2      33.4
3      36.2
4      22.9
       ...
328    17.5
329    22.4
330    20.6
331    23.9
332    11.9
Name: medv, Length: 333, dtype: float64